.navbar {
  color: white;
  background-color: rgb(53, 145, 125);
  margin-bottom: 20px;
}
.navbar div a {
  color: white;
  margin-right: 30px;
}

.navlink{
  text-decoration: none;
}


.navlink:hover{
  text-decoration: none;
}