
#userlist {
  width: 20vw;
  word-break: break-all;
  background: #282c34;
  font-size: 1em;
  text-align: center;
  padding: 7px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 3px solid;
  max-height: 70vh;
  border:2px solid #636363;
}
#userlist div {
  border-bottom:2px solid #636363;
  padding-bottom: 7px;
  margin: 0 -10px;
}
#userlist p {
  margin: 7px 0;
  background: #282c34;
  padding: 5px 10px;
}